<!DOCTYPE html>
<html>

<head>
  <title>{{ title or Configs.ctf_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">

  {{ meta | safe }}

  {% block stylesheets %}
  {{ Assets.css("assets/scss/main.scss") }}
  {{ Assets.css("assets/scss/title.scss") }}
  {{ Assets.css("assets/scss/base.scss") }}
  {{ Assets.css("assets/scss/fonts.scss") }}
  {{ Assets.css("assets/scss/nav.scss") }}
  {{ Assets.css("assets/scss/augui.scss") }}
  {% endblock %}

  {{ Plugins.styles }}

  {{ Assets.js("assets/js/basejs.js") }}
  {{ Assets.js("assets/js/navjs.js") }}
  {{ Assets.js("assets/js/color_mode_switcher.js", type=None) }}

  <script type="text/javascript">
    window.init = {
      'urlRoot': "{{ request.script_root }}",
      'csrfNonce': "{{ Session.nonce }}",
      'userMode': "{{ Configs.user_mode }}",
      'userId': {{ Session.id }},
    'userName': {{ User.name | tojson }},
    'userEmail': {{ User.email | tojson }},
    'userVerified': {{ User.verified | tojson }},
    'teamId': {{ Team.id | tojson }},
    'teamName': {{ Team.name | tojson }},
    'start': {{ Configs.start | tojson }},
    'end': {{ Configs.end | tojson }},
    'themeSettings': {{ Configs.theme_settings | tojson }},
    'eventSounds': [
      "/themes/custom-theme/static/sounds/notification.webm",
      "/themes/custom-theme/static/sounds/notification.mp3",
      "/themes/custom-theme/static/sounds/tokyo_drift.mp3",
    ],
      }
  </script>

  {{ Configs.theme_header }}
</head>

<body>
  <canvas id="pixelCanvas"></canvas>
  <img id="pixelCar" src="/themes/custom-theme/static/img/transparentBg.png" />
  <div class="overlay-text" id="text1"><span class="text-center" id="ctf-end">{{Configs.end}}</span></div>
  <div class="sponsor-text-worker" id="text1"><span class="text-center" id="sponsor-msg">Infra sponsored by goo.gle/ctfsponsorship</span></div>
  {% include "components/navbar.html" %}
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>

  {% include "components/snackbar.html" %}

  <footer class="footer" id="footer">
    <div class="container text-center">
      <small class="text-primary">
        Infra sponsored by goo.gle/ctfsponsorship
      </small>
      <br>
    </div>
  </footer>

  {% include "components/notifications.html" %}

  {% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
  {% endblock %}

  {{ Plugins.scripts }}

  {{ Configs.theme_footer }}
</body>

</html>